.app {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
}

button, a {
  cursor: url(../../images/pointer.svg), default;
}
