.popup__container {
  box-sizing: border-box;
  width: 430px;
  height: 182px;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 45px 36px 51px;
  position: relative;
}

.popup__link_succes {
  margin: 0;
}
