.popup {
  visibility: hidden;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: visibility 0.5s, opacity 0.5s linear;
  z-index: 3;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.popup__form {
  box-sizing: border-box;
  padding: 34px;
  width: 430px;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popup__close {
  width: 30px;
  height: 30px;
  outline: none;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url(../../images/PopupWithForm/close.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -30px;
  right: -30px;
}

.popup__title {
  margin: 0 0 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #1A1B22;
}

.popup__server-error {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #FF0000;
}

.popup__submit {
  width: 360px;
  height: 64px;
  padding: 0;
  border: 0;
  outline: none;
  background: #2F71E5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 17px 0;
}

.popup__submit_disabled {
  background: #E6E8EB;
  color: #B6BCBF;
}


.popup__footer {
  align-self: center;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  margin: 0;
}

.popup__link {
  background-color: transparent;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #2F71E5;
  margin-left: 5px;
  padding: 0;
}
